    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-color: gray;
        background-image: url('../PIC/background.jpg');
    }
    
    html body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .project-container {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }
    
    .project1,
    .project2,
    .project3 {
        display: flex;
        flex-direction: center;
        margin-top: 20px;
        align-items: center;
        border-radius: 30px 0 30px 0;
        border: 4px double #EAEAEE;
        border-right: green;
        background-color: rgba(192, 192, 190, 0.5);
        width: 80%;
        padding-right: 10px;
        height: 650px;
        position: relative;
        margin-left: 25px;
    }
    
    .project1 #ATS {
        border-radius: 30px 0 30px 0;
        position: absolute;
        top: 2%;
        bottom: 2%;
        width: 90%;
        height: 94%;
    }
    
    .menu.link a {
        width: auto;
        color: white;
    }
    
    .navbar-container {
        overflow: hidden;
        display: block;
        height: 100%;
    }
    
    .navbar ul input,
    label {
        font-size: 30px;
        color: black;
        background-color: blue;
        width: 30px;
        float: right;
        display: none;
    }
    
    img #OVUV,
    img #ATS,
    img #AUTO {
        padding-left: 30px;
        width: 100%;
    }
    
    .manu a:hover {
        background-color: aqua;
    }
    
    .navbar ul {
        width: 100%;
        margin-right: 30px;
    }
    
    ul.lists li.Active {
        background-color: rgba(0, 200, 17, 0.6);
    }
    
    ul {
        list-style: none;
        text-decoration: none;
    }
    
    .navbar ul {
        width: 100%;
        margin-right: 30px;
    }
    
    .navbar li.active {
        list-style: none;
    }
    
    li.active {
        color: white;
        background-color: rgba(100, 122, 255, 0.8);
        border-radius: 50%;
        height: 70px;
        text-align: center;
        padding-top: 10px;
        float: left;
    }
    
    ul.lists li.link {
        float: right;
        border: 1px solid blue;
        background-color: aquamarine;
        width: 20%;
    }
    
    ul.lists li.link:hover {
        background-color: aqua;
        cursor: pointer;
    }
    
    a {
        text-decoration: none;
    }
    
    span {
        color: blue;
        position: absolute;
        top: 90%;
        bottom: 2%;
    }
    
    .navbar {
        /* overflow: hidden; */
        width: 100%;
        display: flex;
        background-color: rgba(100, 17, 200, 0.8);
        border: 1px solid blue;
    }
    
    @media only screen and (max-width: 778px) {
        .project-container {
            height: 70%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
        }
        .lists a {
            display: block;
            margin: 10px;
            color: black;
            text-align: center;
        }
        .navbar {
            /* overflow: hidden; */
            width: 100%;
            display: flex;
            background-color: rgba(100, 17, 200, 0.8);
            border: 1px solid blue;
            /* position: fixed; */
        }
        label {
            display: block;
            cursor: pointer;
            width: 26px;
        }
        #toggle {
            display: none;
        }
        #toggle:checked+.menu {
            margin-left: 20px;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        ul div.menu {
            margin-left: 20px;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .menu {
            width: 150%;
        }
        .lists div.menu {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 70px;
            display: none;
        }
        .project1,
        .project2,
        .project3 {
            display: flex;
            flex-direction: center;
            margin-top: 30px;
            align-items: center;
            border-radius: 30px 0 30px 0;
            border: 4px double #EAEAEE;
            border-right: green;
            background-color: rgba(192, 192, 190, 0.5);
            width: 80%;
            padding-right: 10px;
            height: 650px;
            position: relative;
        }
        /* #ATS,
            #AUTO,
            #OVUV {
                position: absolute;
                left: 5%;
                right: 20%;
                top: 3%;
                bottom: 3%; */
        .menu ul.lists li.link {
            border: 1px solid blue;
            background-color: aqua;
        }
        .navbar-container div {
            padding: 0;
        }
    }